@page
@model MiniAccountManagement.Pages.ChartOfAccounts.IndexModel
@{
    ViewData["Title"] = "Chart of Accounts";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@ViewData["Title"]</h1>
    <div>
        @if (User.IsInRole("Admin") || User.IsInRole("Accountant"))
        {
            <a id="editBtn" class="btn btn-info disabled" href="#">
                <i class="fas fa-pencil-alt me-1"></i> 
            </a>
        }

        @if (User.IsInRole("Admin"))
        {
            <a id="deleteBtn" class="btn btn-danger disabled" href="#">
                <i class="fas fa-trash-alt me-1"></i> 
            </a>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Accountant"))
        {
            <a asp-page="./Create" class="btn btn-primary">
                <i class="fas fa-plus me-1"></i> 
            </a>
        }
    </div>
</div>
<div class="card shadow-sm"><div class="card-body"><div id="accountTreeContainer"></div></div></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        $(function () {
            $('#accountTreeContainer').jstree({
                "core": { "themes": { "variant": "large" }, "data": { "url": "?handler=AccountsAsJson", "dataType": "json" } }
            });
            $('#accountTreeContainer').on("changed.jstree", function (e, data) {
                if (data.selected.length) {
                    var selectedId = data.selected[0];
                    $('#editBtn').removeClass('disabled').attr('href', '/ChartOfAccounts/Edit/' + selectedId);
                    $('#deleteBtn').removeClass('disabled').attr('href', '/ChartOfAccounts/Delete/' + selectedId);
                } else {
                    $('#editBtn').addClass('disabled').attr('href', '#');
                    $('#deleteBtn').addClass('disabled').attr('href', '#');
                }
            });
        });
    </script>
}